.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  cursor: pointer;
  /* border: 2px solid white;
  border-radius: 6px; */
}

.card .front {
  width: 90px;
  margin-top: 20px;
  margin-left: 5px;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  width: 100px;
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}


