button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  margin: 8px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  &:hover {
    background: #c23866;
    color: #fff;}
}



